body {
  margin: 0 50px;

  @media only screen and (min-width: var(--min-desktop-width)) {
    margin: 0 100px;
  }
}

.grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: var(--large-font);
  }
}

