.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--large-font);
  color: white;
}

p {
  font-size: var(--regular-font);
  color: white;
}